<div class="page-wrap">
    <div class="form-wrapper">
        <div class="form">            
            <p class="text" *ngIf="step===1">Fill out the information below to reset your password</p>
            <p class="text" *ngIf="step===2">Check email, you should have received a 6 Digit OTP</p>
            <p class="text" *ngIf="step===3">Reset Password</p>
            <div class="email-form animate__animated" 
                [class.hide]="step!==1">                
                <div class="group">
                    <label class="label">Email Address</label>
                    <input type="text" class="input" [(ngModel)]="email">
                </div>
                <div class="group">
                    <button class="button" (click)="request_password_change()">Continue</button>
                </div>
            </div>
            <div class="otp-form animate__animated" 
                [class.hide]="step!==2">                
                <div class="group">
                    <label class="label">6 Digit OTP</label>
                    <input type="text" class="input" [(ngModel)]="otp">
                </div>
                <div class="group">
                    <button class="button" (click)="confirm_otp()">Confirm</button>
                </div>
            </div>
            <div class="reset-form animate__animated" 
                [class.hide]="step!==3">
                <div class="group">
                    <label for="user" class="label">New Password</label>
                    <input id="user" type="text" class="input" [(ngModel)]="password">
                </div>
                <div class="group">
                    <label class="label">Repeat Password</label>
                    <input type="text" class="input" [(ngModel)]="password_repeat">
                </div>
                <div class="group">
                    <button class="button" (click)="reset_password()">Reset Password</button>
                </div>
            </div>
        </div>
    </div>
</div>